:root {
    --night: #0A100D;
    --ash-gray: #B9BAA3;
    --timberwolf: #D6D5C9;
    --auburn: #A22C29;
    --burnt-umber: #902923;
}

.auth-page {
    background-image: url('../img/wallpaper.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Fija el fondo mientras haces scroll */
    background-position: center; /* Centra la imagen */
}

.login-form {
    width: 100%;
    max-width: 400px; /* Tamaño máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Títulos */
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

/* Etiquetas */
.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

/* Campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgb(245, 240, 240);
    font-size: 1.6rem;
}

/* Borde punteado al enfocar */
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border: 3px dotted var(--auburn); /* Borde punteado */
    outline: none; /* Elimina el borde del navegador */
}

/* Botón */
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--auburn);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: var(--burnt-umber);
}

/* Responsivo */
@media (max-width: 768px) {
    .login-form {
        padding: 15px;
    }
}
