/* Variables de colores */
:root {
    --background: #F5F5F5;
    --primary: #A22C29;
    --secondary: #902923;
    --accent: #F07A71; /* Color adicional para resaltar */
    --text-dark: #0A100D;
    --text-light: #FFFFFF;
    --highlight: rgba(255, 255, 255, 0.9);
    --shadow: rgba(0, 0, 0, 0.1);
    --hover-bg: rgba(255, 255, 255, 0.8);
}

/* Estilo general */
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text-dark);
    line-height: 1.6;
}

/* Artículo */
.entrada {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--highlight);
    margin: 2rem auto;
    max-width: 1200px;
    box-shadow: 0 6px 10px var(--shadow);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.entrada:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px var(--shadow);
}

/* Contenido de entrada */
.entrada_contenido {
    flex: 1 1 300px;
}

.entrada_contenido h4 {
    color: var(--primary);
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.entrada_contenido .enlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--text-light);
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-align: center;
    width: 150px;
    position: relative;
    overflow: hidden;
}

.entrada_contenido .enlace img {
    width: 80px;
    margin-bottom: 0.8rem;
    transition: transform 0.3s;
}

.entrada_contenido .enlace p {
    font-size: 1rem;
    margin: 0;
    transition: color 0.3s;
}

.entrada_contenido .enlace:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px var(--shadow);
    background-color: var(--primary);
}

.entrada_contenido .enlace:hover img {
    transform: scale(1.1);
}

.entrada_contenido .enlace:hover p {
    color: var(--accent);
}

/* Párrafo descriptivo */
.entrada_contenido p.parrafo {
    margin-top: 2rem;
    font-size: 1rem;
    color: var(--text-dark);
    text-align: justify;
    line-height: 1.8;
}

/* Imagen */
.entrada__imagen {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrada__imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    transition: transform 0.3s;
}

.entrada__imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--shadow);
}

/* Responsivo */
@media (max-width: 768px) {
    .entrada {
        flex-direction: column;
        padding: 1.5rem;
    }

    .entrada__imagen {
        margin-top: 1.5rem;
    }

    .entrada_contenido .enlace {
        width: 100%;
    }
}
