/* Colores */

:root {
    --night: #0A100D;
    --ash-gray: #B9BAA3;
    --timberwolf: #D6D5C9;
    --auburn: #A22C29;
    --burnt-umber: #902923;
}

/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Ordena en una columna */
    min-height: 100vh; /* Ocupa al menos la altura de la ventana */
}

main {
    flex: 1; /* Hace que el contenido principal crezca para llenar el espacio */
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-template-rows: 1fr; /* Una fila */
    gap: 10px; /* Espacio entre columnas y filas */
}

.parent div {
    display: flex; /* Usar Flexbox dentro de los divs */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.parent img {
    width: 50%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 100%; /* Evita que la imagen exceda el tamaño del contenedor */
}

/* Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto; /* Tantas filas como sean necesarias */
    }

    .parent img {
        width: 80%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }
}






